<div class="antialiased bg-gray-50 dark:bg-gray-900">
  <!-- Sidebar -->
  <%- include('./../components/navbar.ejs') %> <%-
  include('./../components/sidebar.ejs') %>

  <main class="h-screen bg-white md:ml-64 dark:bg-gray-800">
    <section class="bg-white dark:bg-gray-900">
      <div class="px-4 py-20 mx-auto">
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">
          Start a new discussion
        </h2>
        <form action="#">
          <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
            <div class="sm:col-span-2">
              <label
                for="name"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Title</label
              >
              <input
                type="text"
                name="title"
                id="title"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Type discussion title"
                required=""
              />
            </div>
            <div class="sm:col-span-2">
              <label
                for="category"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Category</label
              >
              <select
                id="category"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              >
                <option selected="">Select category</option>
                <option value="none">None</option>
                <option value="questions">Questions</option>
                <option value="ideas">Ideas</option>
                <option value="aritcles">Aritcles</option>
                <option value="events">Events</option>
                <option value="issues">Issues</option>
              </select>
            </div>
            <div class="sm:col-span-2">
              <label
                for="discussion"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Discussion</label
              >
              <textarea
                id="discussion"
                rows="20"
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Your discussion here"
              ></textarea>
            </div>
          </div>
          <button
            type="submit"
            class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800"
          >
            Create discussion
          </button>
        </form>
      </div>
    </section>
  </main>
</div>
