<div class="antialiased bg-gray-50 dark:bg-gray-900">
  <!-- Sidebar -->
  <%- include('./components/navbar.ejs') %>
  <%-include('./components/sidebar.ejs') %>

  <main class="h-auto p-4 bg-white md:ml-64 dark:bg-gray-800">
    <div class="w-full mt-20"></div>
    <% if (searchResults.length > 0) { %> <% searchResults.forEach((post) => {
    %> <%- include('./components/post_card.ejs', {post: post}) %> <% }); %> <% }
    else { %>
    <p>No results found.</p>
    <% } %>
  </main>
</div>
